<%= simple_form_for [@episode, @note], url: episode_notes_path(@episode), method: :post do |f| %>
  <%= f.input :description %>
  <div class="form_new_validation">
    <%= f.submit "Ajouter une note", class: "btn btn-cool-blue"%>
  </div>
<% end %>
