

$dark-gray: #656565;
$light-gray: #ebe9e9;



$white-background: #F2F4F7;
$gray-above-background: #DCE3E6;




$dark-blue : #21314D;
$cool-blue : #286299;

$normal-green: #00CC7E;
$cool-green : #449071;
