// Define variables for your color scheme

// For example:
$red: #f2546f;
$blue: #6CB4F9;
$orange: #FFBB5A;
$dark-orange: #e89012;
$dark-gray: #656565;
$light-gray: #ebe9e9;
$dark-blue: #00689E;
$dark-green: #03bc95;


//New color


$blue-marine:#21314D;
$green: #00CC7E;
$white-background: #F2F4F7;
$gray-above-background: #DCE3E6;
