.caregiver-details{
  text-align: center;
  color: $dark-blue;
  margin-left: -22px;

}






.caregiver-details p{
  text-align: center;
  color: $dark-blue;

}

.photo-caregiver img{
  text-align: center;
  margin: 5px 46px 20px 93px;
}


.caregiver-head{
  margin-left: 16px;
}

.caregiver-head h2{
  margin-left: 42px;
}

.photo-caregiver img{
  border-radius: 50%

}

