.caregiver-details{
  text-align: center;
  color: $dark-blue;

}



.caregiver-details p{
  text-align: center;
  color: $dark-blue;

}

.photo-caregiver img{
  text-align: center;
  margin: 5px 46px 20px 93px;
}


.caregiver-head{
  margin-left: 16px;
}
