 <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="navbar-container">
      <div class="navbar-header">

          <%= link_to "Kenko", root_path, class: "navbar-title" %>


<!-- if signed-in -->
      <% if patient_signed_in? %>
      <div class="navbar">
        <div class="navbar-section">
          <%= link_to "Mes épisodes", episodes_path, class: "navbar-section-text" %>
        </div>
        <div class="navbar-section">
          <%= link_to "Mon profil", profile_path, class: "navbar-section-text" %>
        </div>
<!-- else -->
          <% else %>
          <!-- Login link (when logged out) -->
          <%= link_to t(".sign_in", default: "Login"), new_patient_session_path, class: "" %>

      </div>
      <% end %>
<!-- end -->
      </div>
    </div>
  </nav>




