 <%= simple_form_for @episode do |f| %>
    <%= f.input :name, { label: 'Name', class: "form-text" } %>
    <%= f.input :description, class: "form-text" %>

    <div class="form_new_validation">
      <%= f.button :submit , class: "btn-green"%>
      <% end %>
    </div>

