<div class="form_new_container">
<div class="form_new">
  <div class="form_new_title">

    <h2>Crée un nouvel épisode</h2>
  </div>


    <%= simple_form_for @episode do |f| %>
    <%= f.input :name, { label: 'Name', class: "form-text" } %>
    <%= f.input :description, class: "form-text" %>
  </div>
    <div class="form_new_validation">
      <%= f.button :submit , class: "btn-green"%>
      <% end %>
    </div>
</div>
