  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(192,192,170,0.4) 0%, rgba(126, 183, 246, 0.4) 50%), url('http://res.cloudinary.com/deko23qhf/image/upload/c_scale,w_1000/v1512489911/coverhp3_ukbmv3.jpg');">
    <div class="banner-content">
      <h1>Kenko</h1>
      <p>Prenez votre santé en main</p>

      <button type="button" class="btn btn-primary btn-lg">Créez votre dossier médical</button>
    </div>
  </div>
</div>
<!-- <div class="row 3features">
  <div class="col-xs-12 col-sm-3">
    <div class="features">

    feature 1
    </div>
  </div>
    <div class="col-xs-12 col-sm-3">
      <div class="features">
      feature 2
    </div>
  </div>
    <div class="col-xs-12 col-sm-3">
      <div class="features">
      feature 3
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    Contact
  </div>
</div>
<div class="footer">
  <div class="col-xs-12 col-sm-9">
    Product link
  </div>
    <div class="col-xs-12 col-sm-3">
      lien social media
  </div>
</div> -->



















