.episodes-index-container {
  background-color: white;
  margin: 70px auto;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  width: 77%;
  height: 100%ß;

}



.episodes-head {
  display: flex;
  align-items : center;
  // margin-bottom: 40px;
  width: 94%;
  -webkit-transition: height .25s;
  -moz-transition: height .25s;
  transition: height .25s;
  height: 70px;

  color:#21314D;

}

.episodes-title {
  // width: 600px;
  flex: 1 0 auto;
  align-items: center;

}


.episodes-view {
  flex: 0 0 20%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.chrono-view-btn {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6CB4F9;
  border-radius: 10px;
  color: white;
}

.add-episode{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search {
  flex: 1 0 auto;
}

.add-episode-btn {
  flex: 0 0 200px;
  color: white;
  text-decoration: none;
  background-color: #00E6B5;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}



// .episodes {
//   padding-left: 27px;
//   padding-right: 109px;
//   padding-bottom: 50px;
// }

.card-episode {
  height: 170px;
  width: 211px;
  position: relative;
  border-radius: 4px;
  background-color: white;
  border: 0.5px solid #DCE4ED;
  box-shadow: 4px 4px 4px #DCE4ED;
  margin: 20px auto;
}


.card-episode-upbox {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 10px;
}

.card-episode-downbox {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}


.episode-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: #21314e;
  border: 0.5px solid #21314e ;
  color: white;
  transition: all 0.3s ease;
}

.episode-name {
  text-align: center;
   font-weight: 700;
   color: #21314e;
}

.episode-date {
  text-align: center;
  margin: 10px;
  font-size: 10px;
}


#name{
    border-radius: 7px;
    height: 35px;
    width: 200px;
    border-color: #21314e;
    padding: 0 10px;
}

.add-episode-btn{

    border: 1px solid #01C3A7;
    color: #FFF;
    cursor: pointer;
    background-color: #01C3A7;
    border-bottom: 1px solid #01907c;
    box-shadow: 0 1px 1px -1px #8C9DA1;
    margin: 24px 0 19px 36px;
}


.add-episode-search{

    border: 1px solid #01C3A7;
    color: #FFF;
    cursor: pointer;
    background-color: #01C3A7;
    border-bottom: 1px solid #01907c;
    box-shadow: 0 1px 1px -1px #8C9DA1;

}

.rowbtn{
  width: 100%;
  border-bottom-style: solid;
  padding-bottom: 14px;
  border-width: 1px;
  border-color: $gray-above-background;
}

.icon img{
  padding-top: 5px;
}
