.main-container {
  display: flex;
}

.index_episode-sidebar {
  // flex: 250px 0 0;
  // position: sticky !important; /* !important to override Gmaps inline CSS */
  // top: 0 !important;
  // background-color: white;
  // margin: 30px 20px auto 100px;
  // box-shadow: 4px 4px 7px #bababa;
  // padding: 15px 0 15px 0;
  // border-radius: 2px;
  // max-height:100vh;
  width: 250px;
  background-color: white;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  max-height: 100vh;
  position: sticky !important;
  top: 0 !important;
  align-items: left;
}

.index_episode-sidebar h1 {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 6px;
  color: $dark-blue;
  padding-top: 10px;
  width: 250px;
  // font-size: 24px;
  // text-align: left;
  // font-weight: bold;
  // text-align:center;
  // color:#21314D;

}

.index_episode-sidebar h2 {
  font-size: 19px;
  text-align: left;
  color:#21314D;
  margin-left: 20px;
}

.index_episode-sidebar p {
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  font-weight: 100;
}

.index-episode-sidebar-caregiver {
  // position: relative;
  // height: 65px;
  // margin: auto 15px;
  position: relative;
  margin-left: 10px;
  min-height: 45px;
}

.episode-sidebar-caregiver-avatar {
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.episode-sidebar-caregiver-avatar img {
  border-radius: 50%;

}
.episode-sidebar-caregiver-fullname {
  position: absolute;
  left: 55px;
  top: 2px;
  color:#21314D;
}
.episode-sidebar-cargiver-speciality {
  position: absolute;
  top: 20px;
  left: 55px;
  color:#21314D;
  font-weight: lighter;
}
.episode-sidebar-cargiver-speciality:hover{
  border-bottom: 4px solid #119780;
}

.separator {
  border-width: 1px;
  border-color: #DCE3E6;
}

.card-event-timeline {
  // display: flex;
  // justify-content: space-around;
  position: relative;
  margin: 10px;
  background-color: white;
  box-shadow: 4px 4px 7px #bababa;
  padding: 15px 0 15px 0;
  border-radius: 2px;
  height: 25vh;
}

.card-event-timeline-date {
  position: absolute;
  top: 5px;
  background-color: white;
  left: 10px;
}

.card-event-timeline-avatar {
  position: absolute;
  top: 5px;
  display: flex;
  right: 5px;
}

.card-event-timeline-category {
  position: absolute;
  top: 40px;
  background-color: white;
  left: 10px;
}

.card-event-timeline-description {
  position: absolute;
  top: 70px;
  background-color: white;
  left: 10px;
  // width: 300px;
  font-size: 18px;
  font-weight: 100;
}

.sidebarbtn{
  text-align: left;
  margin-left: 8px;

}


@media (max-width: 768px) {
    .index_episode-sidebar {
        display: none;
    }
}

