
.btn-home{
  color: #fff;
  background-color: #21314e;
  width: 50%;
  padding: 3%;
  margin-top: 19px;
}
.btn-dark-blue {
  color: white;
  background-color: $dark-blue;
  border-bottom : 4px solid $cool-green;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  font-weight: 400;
  text-align: center;
}
.btn-dark-blue:hover {
  color: $dark-blue;
  background-color: white;
  // border-bottom : 4px solid $dark-blue;
  cursor: pointer;
}
.btn-cool-blue {
  color: white;
  background-color: $cool-blue;
  border : 1px solid $cool-blue;
  border-radius: 4px;
  padding: 5px;
  margin-left: 10px;
  font-weight: 200;
}
.btn-normal-green {
  color: white;
  background-color: $normal-green;
  border : 4px solid $normal-green;
  border-radius: 4px;
  padding: 5px;
}
.btn-cool-green {
  color: white;
  background-color: $cool-green;
  border-bottom: 4px solid $dark-blue;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  font-weight: 400;
  text-align: center;
}
.btn-cool-green:hover {
  color: $cool-green;
  background-color: white;
  // border-bottom: 4px solid $cool-green;
  cursor: pointer;
}
.btn-level2 {
  color: $cool-green;
  text-decoration: none;
  text-align: left;
  font-weight: 400;
  margin: 10px auto 0px 22px;
}
.btn-level2:hover {
  text-decoration: underline $cool-green;
  color: $cool-green;
  cursor: pointer;
}
.btn-add-episode {
  color: white;
  background-color: $dark-blue;
  border : 4px solid $cool-green;
  border-radius: 2px;
  padding: 10px;
  font-weight: 400;
  text-align: center;
}
.btn-add-episode:hover {
  color: $dark-blue;
  background-color: white;
  // border-bottom : 4px solid $dark-blue;
  cursor: pointer;
}

.filter-dark-blue {
  // text-decoration: underline $dark-blue;
  color: $dark-blue;
  background: none;
  border-radius: 2px;
  // border: 1px solid #F2F2F2;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  font-weight: 200;
}

.filter-dark-blue a{
  // text-decoration: underline $dark-blue;
  color: $dark-blue;
  // background: none;
  // border-radius: 2px;
  // // border: 1px solid #F2F2F2;
  // padding: 5px;
  // text-align: center;
  // margin-left: 10px;
  // font-weight: 200;
}

.filter-dark-blue:hover {
  background: #F2F2F2;
  cursor: pointer;
}

.btn-icon {
  color: gray;
  border-radius: 4px;
  // margin: 10px;
  width: 50px;
  height: 50px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.7;
}
.btn-icon:hover {
   cursor: pointer;
}




