.main-container {
  display: flex;
}

.episode-sidebar {
  flex: 250px 0 0;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  background-color: white;
  margin: 10px;
  box-shadow: 4px 4px 7px #bababa;
  padding: 15px 0 15px 0;
  border-radius: 2px;
}

.episode-sidebar h1 {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
}

.episode-sidebar h2 {
  font-size: 19px;
  text-align: left;
  color: $green;
  margin-left: 10px;
}

.episode-sidebar p {
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  font-weight: 100;
}

.episode-sidebar-caregiver {
  position: relative;
  height: 65px;
  margin-left: 10px;
}

.episode-sidebar-caregiver-avatar {
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}
.episode-sidebar-caregiver-fullname {
  position: absolute;
  left: 55px;
  top: 2px;
}
.episode-sidebar-cargiver-speciality {
  position: absolute;
  top: 20px;
  left: 55px;
}

.separator {
  border-style: solid;
  border-bottom: 1px;
  border-color: #d5cdcd;
  margin: 15px;
}

.timeline-container {
  width: 717px;
  height: 100vh;
}

// EVENT CARD
.card-event {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: auto;
  margin-right: 10px;
}
.row-banner {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 60px;
}
.event-date {
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: left;
  border-top-left-radius: 4px;
  padding-left: 10px;
  color: white;
  display: flex;
  align-items: center;
}
.appointment {
  background-color: $green;
}
.note {
  background-color: $blue;
}
.avatar-content {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.event-avatar {
  flex: 0 0 auto;
}
.box-shadow {
  box-shadow: 4px 4px 7px #bababa;
}
.card-event-content {
  flex: 1 1 auto;
  width: 100%;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;
}
.card-event-content-row {
  display: flex;
}
.event-title {
    font-size: 20px;
    color: black;
  }
.event-description {
    font-size: 12px;
    color: gray;
  }
.event-caregiver {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}
.event-text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.card-event-footer-row1 {
  display: flex;
}
.card-event-footer {
  flex: 0 1 auto;
  width: 100%;
  background-color: white;
}
.docs-number {
  padding-left: 12px;
  padding-right: 10px;
}
.card-event-footer-row2 {
  display: flex;
  justify-content: space-between;
  padding: 5px
}
.docs-view {
  display: flex;
}

//

// .card-event-timeline-left {

// }


// .card-event-timeline-date {
//   margin: 5px;
//   font-weight: 100;
//   font-size: 16px;
// }


// .card-event-timeline-middle {
//   width: 70%;
//   border-left-color: $blue;
//   border-left-style: solid;
//   border-left-width: 11px;
//   padding-left: 10px;
// }



// .card-event-timeline-middle-note {
//   width: 70%;
//   border-left-color: $blue;
//   border-left-style: solid;
//   border-left-width: 11px;
//   padding-left: 10px;
// }

// .card-event-timeline-middle-appointment {
//   width: 70%;
//   border-left-color: $green;
//   border-left-style: solid;
//   border-left-width: 11px;
//   padding-left: 10px;
// }
// .card-event-timeline-name {
//   margin: 5px;
//   font-weight: 900;
//   font-size: 14px;

// }

// .card-event-timeline-description p {
//   margin: 5px;
//   // width: 300px;
//   // height: 42px;
//   // overflow: hidden;
//   // text-overflow: ellipsis;
//   // white-space: nowrap;
//   font-weight: 100;
//   text-overflow: unset;
//   overflow: unset;
//   width: unset;
//   height: unset;
//   white-space: unset;
// }

// .card-event-timeline-description-all p {
//   margin: 5px;
// }


// .card-event-timeline-documents {
//   margin: 10px;
//   font-weight: 900;
//   color: $blue;

// }

// .card-event-timeline-right {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   align-items: flex-end;
// }

// .card-event-timeline-picto {
//   margin: 8px;
//   // height: 35px;
//   // width: 35px;
//   // border-radius: 50%;
// }

// .card-event-timeline-btn {
//   margin: 5px;
// }
