.episodes-container {
  display: flex;
}
.column-container {
  display: flex;
  flex-direction: column;
  // overflow: scroll;
  // width: 70%;
  padding-left: 100px;
  padding-right: 20px;
}
.timeline-container {
  float: left;
  width: 100%;
  overflow: scroll;
  background-color: white;
  margin: 5px;
  padding: 5px;
  min-height: 100vh;
}
.timeline-head-container{
  float: left;
  width: 100%;
  background-color: white;
  margin: 5px;
  padding: 5px 44px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.timeline-title-container {
  float: left;
  width: 100%;
  background-color: white;
  margin: 5px;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  margin-bottom: -20px;
}
.button-box {
  display: flex;
  align-items: center;
}
.timeline-head-container-title {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  color: $dark-blue;
  padding-top: 10px;
  // min-height: 100px;
}
#search {
  flex: 1 1 auto;
}
.search-box {
  // flex: 1 1 auto;
  padding: 5px;
  margin-left: 10px;
  width: 50%;
  border: 1px solid $dark-blue;
  border-radius: 4px;
  text-align: center;

}
.timeline-head-container-content {
  display: flex;
  flex-direction: column;
}

.timeline-filters {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.timeline-search {
  flex: 1 1 auto;
}
.episode-sidebar {
  width: 250px;
  background-color: white;
  margin-top: 30px;
  margin-right: 100px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  max-height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

.episode-sidebar-title {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 6px;
  color: $dark-blue;
  padding-top: 10px;
  // min-height: 100px;
}

.episode-sidebar h2 {
  font-size: 19px;
  text-align: left;
  color: $cool-green;
  margin-left: 10px;
  margin-top: 15px;
}

.episode-sidebar p {
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 100;
}

.episode-sidebar-caregiver {
  position: relative;
  margin-left: 10px;
  min-height: 45px;
  width: 200px;

}

.episode-sidebar-caregiver-avatar {
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}
.episode-sidebar-caregiver-fullname {
  position: absolute;
  left: 55px;
  top: 2px;
}
.episode-sidebar-cargiver-speciality {
  position: absolute;
  top: 20px;
  left: 55px;
}

.separator {
  border-style: solid;
  border-bottom: 1px;
  border-color: #d5cdcd;
  margin: 10px;
}



// EVENT CARD
.episode-title-xs {
  display: flex;
}
.card-event {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 700px;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 40px;
  // margin-top: -30px;
}
@media(max-width: 1200px) {
  .card-event {
    width: 400px;
  }
  .column-container {
  // padding-left: 0px;
  // padding-right: 10px;
  }
  .episode-sidebar {
  width: 250px;
  // margin-right: 0px;
  }
}
@media(max-width: 720px) {
  .card-event {
    width: 400px;
  }
  .column-container {
  padding-left: 0px;
  padding-right: 10px;
  }
  .episode-sidebar {
  width: 150px;
  margin-right: 0px;
  }
}
@media(max-width: 320px) {
  .card-event {
  width: 200px;
  }
  .column-container {
  padding-left: 0px;
  padding-right: 10px;
  }
  .episode-sidebar {
  width: 150px;
  margin-right: 0px;
  }
}
.row-banner {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  height: 50px;
}
.event-date {
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: left;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  // border: 1px solid $cool-green;
  padding-left: 14px;
  // color: $dark-blue;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
}
.appointment {
  background-color: $cool-green;
  border-bottom: 4px solid $dark-blue;
  color: white;
}
.note {
  background-color: $dark-blue;
  border-bottom: 4px solid $cool-green;
  color: white;
}
.note-title {
  color: $dark-blue;
  font-size: 19px;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.avatar-content {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.event-avatar {
  flex: 0 0 auto;
  padding: 10px;
}
.box-shadow {
  box-shadow:0px 2px 5px #bababa;
}
.card-event-content {
  flex: 1 1 auto;
  width: 100%;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  // border-left: 0.5px solid gray;
  // border-bottom: 0.5px solid gray;
  // border-right: 0.5px solid gray;
}
.card-event-content-row {
  display: flex;
}
.event-title {
    font-size: 19px;
    text-align: left;
    color: $cool-green;
    margin-left: 10px;
    margin-top: 10px;
  }
.event-description {
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    font-weight: 100;
    font-style: italic;
    color: $dark-blue;
    margin-top: 10px;
  }
.event-caregiver {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}
.event-text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.card-event-footer-row1 {
  display: flex;
  padding-top: 5px;
  margin-top: 10px;
}
.card-event-footer {
  flex: 0 1 auto;
  width: 100%;
  background-color: white;
}
.padding-top-paperclip {
  padding-top: 3px;
}
.docs-number {
  padding-left: 6px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-align: left;
  // margin-left: 10px;
  font-weight: 100;
}
.card-event-footer-row2 {
  display: flex;
  justify-content: space-between;
  padding: 5px
}
.document-box {
  margin-right: 10px;
  border-radius: 4px;
}
.docs-view {
  display: flex;
  // margin: 5px;
}


.docs-view img{
 border-radius: 8px;
}



