.form-wrapper {
  background-color: #EBE9E9;
  height: calc(100vh - 70px);
}
.form-login {
  background: white;
  color: $cool-green;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
  a {
    color: $cool-green;
  }
}

.modal-episode {
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.modal-episode p {
  margin-left: 10px;
  margin-top: 10px;
}

.modal-caregiver {
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.modal-caregiver p {
  margin-left: 10px;
  margin-top: 10px;
}


.modal-appointment {
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.modal-appointment p {
  margin-left: 10px;
  margin-top: 10px;
}


.my_class{
  width: 200px;
}
