.modal-title-appointment-form {
  color: $dark-blue;
  border-radius: 5px;
  padding: 5px;
}
.modal-title-note-form {
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.modal-title-form {
  padding: 5px;
}

.modal-title-form p {
  margin-left: 10px;
  margin-top: 10px;
}

#modal-episode{
  padding: 0px;
  background-color: $dark-blue;

}

#modal-episode-caregiver{
  padding: 0px;
  background-color: $cool-green;

}

#modal-add-note-header {
  // color: $dark-blue;
  color: white;
  padding: 15px;
  background-color: $dark-blue;
  border-bottom: 4px solid $cool-green;
}
#modal-add-appointment-header {
  color: $dark-blue;
  padding: 15px;
  background-color: $cool-green;
  border-bottom: 4px solid $dark-blue;
}
#modal-episode-appointment{
  padding: 0px;
  background-color: $cool-green;
}

.modal-document {
  padding: 0px;
  background-color: #EBE9E9;
  color: $dark-blue;
}

.modal-body-document {
     margin: 15px 15px 15px 15px;
     height: 80vh;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;;
 }



.modal-episode {
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.modal-episode p {
  margin-left: 10px;
  margin-top: 10px;
}

.modal-caregiver {
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.modal-caregiver p {
  margin-left: 10px;
  margin-top: 10px;
}


.modal-appointment {
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.modal-appointment p {
  margin-left: 10px;
  margin-top: 10px;
}


.my_class{
  width: 200px;
}


.fa-file-image-o:hover {
  cursor: pointer;
}

.fa-pencil:hover {
  cursor: pointer;
}

.modal-add-caregiver {
  color: white;
}

.image-body {
  height: 100vh;
}
