.main-container {
  display: flex;
}

.episode-sidebar {
  flex: 250px 0 0;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  background-color: white;
  margin: 10px;
  box-shadow: 4px 4px 7px #bababa;
  padding: 15px 0 15px 0;
  border-radius: 2px;
}

.episode-sidebar h1 {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
}

.episode-sidebar h2 {
  font-size: 19px;
  text-align: left;
  color: $green;
  margin-left: 10px;
}

.episode-sidebar p {
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  font-weight: 100;
}

.episode-sidebar-caregiver {
  position: relative;
  height: 65px;
  margin-left: 10px;
}

.episode-sidebar-caregiver-avatar {
  position: absolute;
  top: 5px;
  left: 5px;
}
.episode-sidebar-caregiver-fullname {
  position: absolute;
  left: 55px;
  top: 2px;
}
.episode-sidebar-cargiver-speciality {
  position: absolute;
  top: 20px;
  left: 55px;
}

.separator {
  border-style: solid;
  border-bottom: 1px;
  border-color: #d5cdcd;
  margin: 15px;
}

.timeline-container {
  width: 717px;
  height: 100vh;
}

.card-event-timeline {
  // display: flex;
  // justify-content: space-around;
  position: relative;
  margin: 10px;
  background-color: white;
  box-shadow: 4px 4px 7px #bababa;
  padding: 15px 0 15px 0;
  border-radius: 2px;
  height: 25vh;
}

.card-event-timeline-date {
  position: absolute;
  top: 5px;
  background-color: white;
  left: 10px;
}

.card-event-timeline-avatar {
  position: absolute;
  top: 5px;
  display: flex;
  right: 5px;
}

.card-event-timeline-category {
  position: absolute;
  top: 40px;
  background-color: white;
  left: 10px;
}

.card-event-timeline-description {
  position: absolute;
  top: 70px;
  background-color: white;
  left: 10px;
  // width: 300px;
  font-size: 18px;
  font-weight: 100;
}

// .card-event-timeline-left {

// }


// .card-event-timeline-date {
//   margin: 5px;
//   font-weight: 100;
//   font-size: 16px;
// }


// .card-event-timeline-middle {
//   width: 70%;
//   border-left-color: $blue;
//   border-left-style: solid;
//   border-left-width: 11px;
//   padding-left: 10px;
// }



// .card-event-timeline-middle-note {
//   width: 70%;
//   border-left-color: $blue;
//   border-left-style: solid;
//   border-left-width: 11px;
//   padding-left: 10px;
// }

// .card-event-timeline-middle-appointment {
//   width: 70%;
//   border-left-color: $green;
//   border-left-style: solid;
//   border-left-width: 11px;
//   padding-left: 10px;
// }
// .card-event-timeline-name {
//   margin: 5px;
//   font-weight: 900;
//   font-size: 14px;

// }

// .card-event-timeline-description p {
//   margin: 5px;
//   // width: 300px;
//   // height: 42px;
//   // overflow: hidden;
//   // text-overflow: ellipsis;
//   // white-space: nowrap;
//   font-weight: 100;
//   text-overflow: unset;
//   overflow: unset;
//   width: unset;
//   height: unset;
//   white-space: unset;
// }

// .card-event-timeline-description-all p {
//   margin: 5px;
// }


// .card-event-timeline-documents {
//   margin: 10px;
//   font-weight: 900;
//   color: $blue;

// }

// .card-event-timeline-right {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   align-items: flex-end;
// }

// .card-event-timeline-picto {
//   margin: 8px;
//   // height: 35px;
//   // width: 35px;
//   // border-radius: 50%;
// }

// .card-event-timeline-btn {
//   margin: 5px;
// }
