<div class="container">
  <div class="row_new_rdv">
    <%= render "form_appointment" %>
</div>

</div>




    <%#= f.association :caregiver , collection: Caregiver.all.map{|ele| "#{ele.lastname}"}, prompt: "Doctor name"%>
